.custom-shape-divider-top-1680893917 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1680893917 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 69px;
}

.custom-shape-divider-top-1680893917 .shape-fill {
  fill: #ffffff;
}
