<app-navbar></app-navbar>
<h1 class="font-black text-3xl text-center my-20">Bienvenue {{ username }}</h1>
<div
  class="mx-0 sm:mx-10 bg-gray-50 rounded-md px-2 sm:px-6 py-10 border border-gray-400 my-10"
>
  <h1 class="font-black text-3xl text-themegray-50 text-center mb-10">
    ★ Mes sites ★
  </h1>
  <div class="underline text-themeblue-50 font-semibold text-center my-3">
    <ul>
      <li *ngFor="let website of websites; let i = index">
        <a href="/site/{{ website.id }}">★ {{ i }}. {{ website.name }} ★</a>
      </li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
